 
  nav{
    width: 100%;
    height: 200px;
    background-color: rgb(27, 27, 88);
    line-height: 80px;
    display: flex;
    
  }
  
  #logotipo{
    width: 160px;
      margin-left: 1.10rem;
      margin-top: -0%;
  }
  .wrapper{
    background-image: url(../imagen/FONDO.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }
  nav ul li{
    display: inline;
    padding: 1.5rem;
  }
  
  
  nav a{
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    list-style-type: none;
  }
  
  nav ul li:hover{
    background-color: rgb(192, 19, 19);
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
  }

.titulo{
    text-align: center;
    color:red;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue
}

.titulo1{
    text-align: center;
    color:blue;
    text-shadow: 1px 2px 2px black, 0 0 25px rgb(255, 0, 4), 0 0 5px rgb(255, 0, 4)
}

div.docentes{
        margin: 10px 20px;
        box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba (0,0,0,0.19);
         float: left;
         width: 400px;
    }
div.docentes img{
    background: gray;
    margin: 30px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0; 
    width: 200px;
    height: 200px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  
div.docentes:hover{
        border: 1px solid rgb(128, 193, 240);
        transform: rotate(-3deg);
    }
div.pie{
        text-align: Center;
        text-shadow: 2px 2px 5px purple;
        padding:10px ;
     }


     footer{
        background-color: rgb(27, 27, 88);
        color: #fff;
        text-align: center;
        padding: 1.2rem;
        margin-top: 40%;
      }
      .imgfooter {
        width: 50px;
        height: 50px;
      }
      
      
      .contenedor-footer {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
      }
      

      
      .Titulo-final {
        text-align: center;
        font-size: 15px;
        margin: 20px 0 0 0;
        color: #fff;
      }
      
      .imgfooter:hover {
        width: 25px;
      }
      